[submodule "libft"]
	path = libft
	url = git@github.com:Ycaro02/sub_libft.git
	branch = main
[submodule "rsc/perlin_noise"]
	path = rsc/perlin_noise
	url = https://github.com/Ycaro02/perlin_noise.git
	branch = main
